canvas {
	background-color: white;
	width: 800px; 
	height: 600px; 
	margin: 0 auto; 
	image-rendering: optimizeSpeed;             // Older versions of FF
	image-rendering: -moz-crisp-edges;          // FF 6.0+
	image-rendering: -webkit-optimize-contrast; // Safari
	image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
	image-rendering: pixelated;                 // Awesome future-browsers
	-ms-interpolation-mode: nearest-neighbor;   // IE
}

#center {
	margin: 0 auto;
	width: 800px;
	height: 600px;
	padding-top: 25px;
	position: relative;
}

.wordElem {
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	overflow: hidden;
	position: absolute;
	display: none;
	color: white;
	font-family: sans-serif;
	word-wrap: none;
	background-color: blue;
}

body {
	background-color: black;
}