@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body, html {
	background: #009688;
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	padding: 0;
	font-family: Oxygen, Helvetica, Arial, sans-serif;	
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.canvas {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#left-card {
	float: left;
	position: absolute;
	left: 20px;
	top: 20px;
	bottom: 20px;
	margin-right: 20px;

	width: 29%;

	padding: 1em;
	background: white;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#left-card h1 {
	width: 100%;
	text-align: center;
	padding-bottom: 0.3em;
}

#left-card h1:after {
	content: "";
	display: block;
	border-top: solid 1px black;
	width: 50%;
	margin: 0 auto;
	margin-top: 0.5em;
	height: 1px;
	z-index: 1;
}

.content { 
	padding: 0.75em;
}


#right-card {
	background: white;
	position: absolute;
	right: 20px;
	top: 20px;
	bottom: 20px;
	left: 30%;
	margin-left: 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.canvas-holder {
	cursor: cell;
	position: absolute;
	top: 0;
	bottom: 100px;
	left: 0;
	right: 0;
	overflow: hidden;
}


#toolbar {
	position: absolute;
	bottom: 0;
	height: 100px;
	left: 0;
	right: 0;
	background: #4DB6AC;
}
#toolbar div {
	background: #4DB6AC;
	float: left;
	font-size: 1.5em;
	text-align: center;
	line-height: 100px;
	color: white;
	width: 100px;
	height: 100px;
	font-weight: 200;
	transition: all 0.1s;
	-mox-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#toolbar div:hover {
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}
#toolbar div[selected] {
	background: #FF9800;
}





.word-elem {
	width: 60px;
	height: 25px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	position: absolute;
	display: none;
	color: white;

}
.editable-word {
	height: 50px;
	line-height: 50px;
	font-size: 28px;
	font-weight: 600;
	color: white;
	text-align: center;
	min-width: 60px;
	margin: 0 auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	position: absolute;
	max-height: 50px;
	white-space: nowrap;
	font-family: 'Courier';
	padding: 0 10px;
	outline: none;
}

